*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    min-height: 100vh;
}

/* login
